---
version: 1
interactions:
- request:
    form:
      token:
        - deploygate-apptoken
      users:
        - testuser
      role:
        - 2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/users/owner/platforms/platform/apps/app_id/members
    method: POST
  response:
    body: |
      {"error":false,"results":{"invite":"member invite success","added":[{"name":"existing_user","role":2}],"invited":[]}}
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    status: 200 OK
    code: 200
